= content_for :stylesheet_links do
  = stylesheet_link_tag 'codemirror.css'
= render :partial => 'header'
= render :partial => 'sidebar'
.content
  = render :partial => 'new', :locals=>{:snippet=>@snippet}
  = render :partial => 'plot'
