= content_for :stylesheet_links do
  = stylesheet_link_tag 'codemirror.css'
.header
  .logo
    cfd-fiddle
  %ul.buttons#execute
    %li.inactive init
    %li.inactive pause
    %li.inactive step
    %li.inactive run
  %ul.buttons#file
    %li= link_to 'save', '#', :id=>'save'
    %li.inactive load
    %li.inactive send
.sidebar
.content
  #tabpane
    .tabselect
      %ul
        %li.active
          %a#function_tab_link{:href=>'#'} functions
        %li
          %a#init_tab_link{:href=>'#'} init
        %li
          %a#iteration_tab_link{:href=>'#'} iteration
    = form_for @snippet do |f|
      .tab#functions
        = f.text_area :functions
      .tab#init
        = f.text_area :init
      .tab#iteration
        = f.text_area :iteration
  .plot
