= content_for :stylesheet_links do
  = stylesheet_link_tag 'codemirror.css'
= render :partial => 'header'
= render :partial => 'sidebar'
.content.noselect
  = render :partial => 'edit', :locals=>{:snippet=>@snippet, :is_remote=>true}
  = render :partial => 'plot'
